@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    transition: all .5s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f1debd;
}

header {
    padding: 1rem;
    text-align: center;
    background-color: #320139;
    color: #f1debd;
}

main {
    background-color: #f1debd;
    color: #320139;
    padding: 1rem;
}

section {
    display: flex;
    margin-bottom: 1rem;
}

div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 1rem;
    text-align: justify;
}

img {
    height: 20rem;
}

span {
    font-weight: bold;
    font-size: 1.2rem;
}

nav {
    padding: 1rem 2rem;
    color: #320139;
}

nav a {
    background-color: #320139;
    border-radius: 5px;
    text-decoration: none;
    padding: 6px 20px;
    color: #f1debd;
}

nav a:hover {
    background-color: #f1debd;
    color: #320139;
}

#selector {
    padding: 0 2rem;
    color: #320139;
}

#selector div {
    flex-direction: row;
    padding: 0;
}

#selector a {
    text-decoration: none;
    color: #320139;
    border: solid 2px #320139;
    padding: 2px 8px;
    border-radius: 5px;
}

#selector a:hover {
    background-color: #320139;
    color: #f1debd;
    border-color: #f1debd;
}